<div class="container">
    <div class="section">
        <div id="card-stats" class="seaction">
            <h4 class="header">Resumen de Actas</h4>
            <p> Total de registros de Actas en el Sistema.</p>
            <div class="row">
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content  green white-text">
                            <p class="card-stats-title"><i class="mdi-action-account-child"></i> NACIMIENTOS</p>
                            <h4 class="card-stats-number">@ViewBag.NroNac</h4>
                            <p class="card-stats-compare">
                                <i class="mdi-hardware-keyboard-arrow-up"></i> Actas registradas
                            </p>
                        </div>
                        <div class="card-action  green darken-2">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content purple white-text">
                            <p class="card-stats-title"><i class="mdi-communication-contacts"></i> DEFUNCIONES</p>
                            <h4 class="card-stats-number">@ViewBag.NroDef</h4>
                            <p class="card-stats-compare">
                                <i class="mdi-hardware-keyboard-arrow-up"></i> Actas registradas
                            </p>
                        </div>
                        <div class="card-action purple darken-2">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content blue-grey white-text">
                            <p class="card-stats-title"><i class="mdi-social-people-outline"></i> MATRIMONIOS</p>
                            <h4 class="card-stats-number">@ViewBag.NroMat</h4>
                            <p class="card-stats-compare">
                                <i class="mdi-hardware-keyboard-arrow-up"></i> Actas registradas
                            </p>
                        </div>
                        <div class="card-action blue-grey darken-2">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-content deep-purple white-text">
                            <p class="card-stats-title"><i class="mdi-editor-insert-drive-file"></i> TOTAL</p>
                            <h4 class="card-stats-number">@ViewBag.Total</h4>
                            <p class="card-stats-compare">
                                <i class="mdi-hardware-keyboard-arrow-down"></i> Actas registradas
                            </p>
                        </div>
                        <div class="card-action  deep-purple darken-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<style>
    .autocomplete {
        display: -ms-flexbox;
        display: flex;
    }

        .autocomplete .ac-users {
            padding-top: 10px;
        }

            .autocomplete .ac-users .chip {
                -ms-flex: auto;
                flex: auto;
                margin-bottom: 10px;
                margin-right: 10px;
            }

                .autocomplete .ac-users .chip:last-child {
                    margin-right: 5px;
                }

        .autocomplete .ac-dropdown .ac-hover {
            background: #eee;
        }

        .autocomplete .ac-input {
            -ms-flex: 1;
            flex: 1;
            min-width: 150px;
            padding-top: 0.6rem;
        }

            .autocomplete .ac-input input {
                height: 2.4rem;
            }
</style>


<div class="row">
    <h1 class="col s12">Materialize-autocomplete</h1>
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <div class="autocomplete" id="single">
                    <div class="ac-input">
                        <input type="text" id="singleInput" placeholder="Please input some letters" data-activates="singleDropdown" data-beloworigin="true" autocomplete="off">
                    </div>
                    <ul id="singleDropdown" class="dropdown-content ac-dropdown"></ul>
                </div>
                <label class="active" for="singleInput">Single autocomplete: </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <div class="autocomplete" id="multiple">
                    <div class="ac-users"></div>
                    <div class="ac-input">
                        <input type="text" id="multipleInput" placeholder="Please input some letters" data-activates="multipleDropdown" data-beloworigin="true" autocomplete="off">
                    </div>
                    <ul id="multipleDropdown" class="dropdown-content ac-dropdown"></ul>
                    <input type="hidden" name="multipleHidden" />
                </div>
                <label class="active" for="multipleInput">Multiple autocomplete: </label>
            </div>
        </div>
    </form>
</div>

@section scripts{

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize-autocomplete/1.0.7/jquery.materialize-autocomplete.min.js" ></script>

    <script>

        $(function () {
            var single = $('#singleInput').materialize_autocomplete({
                multiple: {
                    enable: false
                },
                dropdown: {
                    el: '#singleDropdown'
                }
            });

            var multiple = $('#multipleInput').materialize_autocomplete({
                multiple: {
                    enable: true
                },
                appender: {
                    el: '.ac-users'
                },
                dropdown: {
                    el: '#multipleDropdown'
                }
            });

            var resultCache = {                
                
                'BAZ': [
                    {
                        id: 'Baz',
                        text: 'Baz'
                    }
                ],                
                'ABE': [
                    {
                        id: 'Abe',
                        text: 'Abe'
                    }
                ],
                'AR': [
                    {
                        id: 'Ari',
                        text: 'Ari'
                    }
                ],
                'ARI': [
                    {
                        id: 'Ari',
                        text: 'Ari'
                    }
                ]
            };

            single.resultCache = resultCache;
            multiple.resultCache = resultCache;
        });
        

    </script>
}