@model List<BE.oficina>
<div class="container">
    <div class="row">
        <div class="col s12 m6 l6">
            <ul id="lista" class="collection with-header">
                <li class="collection-header cyan">
                    <a onclick="Nuevo();" data-target="modal1" data-position="left" data-tooltip="Nuevo" style="margin-top:5px"
                       class="modal-add right btn btn-floating pink accent-2 white-text tooltipped"><i class="mdi-content-add"></i></a>
                    <h5 class="white-text">OFICINAS</h5>
                </li>
                @foreach (var item in Model)
                {
                    <li class="collection-item">
                        <div><span id="o_@item.OficinaId">@item.Denominacion</span><a href="#!" onclick="MostrarEditar(@item.OficinaId);" class="secondary-content"><i class="mdi-content-send"></i></a></div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div id="modal1" class="modal">
        <form action='@Url.Action("Guardar","Oficina")' method="post">
            <input id="OficinaId" name="OficinaId" type="hidden" value="0" />
            <div class="modal-content" style="padding:0">
                <nav class="red">
                    <div class="nav-wrapper">
                        <div class="left col s12 m5 l5">
                            <ul>
                                <li>
                                    <a href="#!" class="email-menu"><i class="modal-action modal-close  mdi-navigation-close"></i></a>
                                </li>
                                Oficinas
                            </ul>
                        </div>
                        <div class="col s12 m7 l7">
                            <ul class="right">
                                <li>
                                    <button type="submit" data-ajax="true" class="btn btn-large btn-flat red white-text " style="vertical-align:baseline;height:auto;"><i class="modal-action modal-close mdi-content-save"></i></button>
                                    @*<a onclick="Guardar()"><i class="modal-action modal-close  mdi-content-save"></i></a>*@
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="model-email-content">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="txtOficina" name="Denominacion" type="text" class="validate" placeholder="Denominación">
                        <label for="txtOficina">Oficina</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $('.modal-add').leanModal({
                ready: function () { $("#txtOficina").focus(); }
            });
        });       
        function MostrarEditar(oficinaid) {
            $('#modal1').openModal();
            $("#OficinaId").val(oficinaid);
            $("#txtOficina").val($("#o_" + oficinaid).text()).focus();
        }
        function Nuevo() {
            $("#OficinaId").val(0);
            $("#txtOficina").val("").focus();
        }
        function AddRowOf(id, denominacion) {
            $("#lista").append("<li class='collection-item'>" +
                      "<div><span id='o_" + id + "'>" + denominacion + "</span><a href='#!' onclick='MostrarEditar(" + id + ");' class='secondary-content'><i class='mdi-content-send'></i></a></div>" +
                    "</li>");
            $('#modal1').closeModal();
        }
        function RefreshRowOf(id, denominacion) {           
            $("#o_" + id).text(denominacion);
            $('#modal1').closeModal();           
        }

    </script>
}